<div class="card mb-3">
    <div class="row">
      <div class="col-md-6">
        <img
          class="img-fluid w-100"
          src="/static/images/<%=resim%> "
          alt=""
        />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title"><a class="text-decoration-none"  href="/blogs/<%=id%>"><%= title %> </a></h5>
          <p class="card-text"><%- altbaslik %></p>
        </div>
      </div>
    </div>
  </div>