<nav class="navbar navbar-dark bg-danger navbar-expand-lg">
  <div class="container">
    <a href="/" class="navbar-brand">DBApp</a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a href="/blogs" class="nav-link">Blog Listesi</a>
      </li>
      <li class="nav-item">
        <a href="/admin/blogs" class="nav-link">Admin Blogs</a>
      </li>
      <li class="nav-item">
        <a href="/category" class="nav-link"> Categories</a>
      </li>
      <li class="nav-item">
        <a href="/blogs/create" class="nav-link">Add blogs</a>
      </li>
      <li class="nav-item">
        <a href="/admin/category/create" class="nav-link">Add</a>
      </li>
    </ul>
  </div>
</nav>
